{% assign work = site.data.work %}
<div class="work">
  <table class="table table-sm table-borderless">
    {% for item in work %}
      <tr>
        <td class="p-0 pr-2 font-weight-bold" style="width: 20%; vertical-align: top;">{{ item.date }}</td>
        <td class="p-0 pl-2" style="vertical-align: top;">
          <div>{{ item.position }}</div>
          {% if item.description %}
            <div style="margin-top: 5px; margin-bottom: 0; font-size: 0.95rem; color: black;">
              {% for desc in item.description %}
                <div>{{ desc }}</div>
              {% endfor %}
            </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
